In [144]:
import tensorflow as tf
from tensorflow.keras.models import load_model
import pickle
import pandas as pd
import numpy as np

In [145]:
model=load_model("model.h5")

##
with open("one_hot_encoder_geo.pkl","rb") as file:
    ohe_geo=pickle.load(file)

with open("label_encoder_gender.pkl","rb") as file:
    gender_encoder=pickle.load(file)

with open("scaler.pkl","rb") as file:
    scaler=pickle.load(file)

In [146]:
# Example input data
input_data = {
    'CreditScore': 600,
    'Geography': 'France',
    'Gender': 'Male',
    'Age': 40,
    'Tenure': 3,
    'Balance': 60000,
    'NumOfProducts': 2,
    'HasCrCard': 1,
    'IsActiveMember': 1,
    'EstimatedSalary': 50000
}

In [147]:
geo_encoded=ohe_geo.transform([[input_data["Geography"]]]).toarray()
geo_encoded_df=pd.DataFrame(geo_encoded,columns=ohe_geo.get_feature_names_out(['Geography']))

/home/raja/learnings/RNN/venv/lib/python3.11/site-packages/sklearn/base.py:493: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

In [148]:
input_df=pd.DataFrame([input_data])

In [149]:
#input_data=pd.concat([input_df.reset_index(drop=True),geo_encoded_df],axis=1)

In [150]:
input_data

{'CreditScore': 600,
 'Geography': 'France',
 'Gender': 'Male',
 'Age': 40,
 'Tenure': 3,
 'Balance': 60000,
 'NumOfProducts': 2,
 'HasCrCard': 1,
 'IsActiveMember': 1,
 'EstimatedSalary': 50000}

In [151]:
input_data["Gennder"]=gender_encoder.transform([input_data["Gender"]])

In [152]:
input_data

{'CreditScore': 600,
 'Geography': 'France',
 'Gender': 'Male',
 'Age': 40,
 'Tenure': 3,
 'Balance': 60000,
 'NumOfProducts': 2,
 'HasCrCard': 1,
 'IsActiveMember': 1,
 'EstimatedSalary': 50000,
 'Gennder': array([1])}

In [153]:
input_data=pd.DataFrame([input_data])

In [154]:
input_data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Gennder
0,600,France,Male,40,3,60000,2,1,1,50000,[1]

In [155]:
input_data=pd.concat([input_data.drop("Geography",axis=1),geo_encoded_df],axis=1)

In [156]:
input_data.drop("Gender",inplace=True,axis=1)

In [157]:
scaled_df=scaler.transform(input_data)

In [158]:
input_data.columns

Index(['CreditScore', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary', 'Gennder', 'Geography_France',
       'Geography_Germany', 'Geography_Spain'],
      dtype='object')

In [160]:
prediction=model.predict(scaled_df)

1/1 [==============================] - 0s 34ms/step

In [161]:
prediction[0][0]

0.01806211